<button type="{{type}}" class="{{class}}" title="{{title}}" {{#if disabled}}disabled{{/if}}>
    {{#if icon}}
        <img src="{{icon}}" alt="">
    {{/if}}
    {{#if label}}
        <span>{{label}}</span>
    {{/if}}
</button>