{{#if (eq class "settings-name-input")}}
    <input class="{{class}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}" type="{{type}}" {{#if required}}required{{/if}} />
{{else}}
    <div class="ui-input-wrapper">
        <input class="{{class}}" name="{{name}}" placeholder="{{placeholder}}" type="{{type}}" {{#if required}}required{{/if}} />
        {{#if (and (eq type "password") togglePassword)}}
            <span class="ui-input__toggle-password">
                <img src="../../assets/images/icons/closeEye.svg" alt="Показать пароль" />
            </span>
        {{/if}}
        {{#if showErrorText}}
            <p class="ui-input__error-message">{{_errorMessage}}</p>
        {{/if}}
    </div>
{{/if}}
